<div class="container-post">    
    <div class="box-post">
        <div class="utente">
            Lorenzo Di Cola
        </div>
        <div class="testo-stato">
            Ciao questo è il mio stato e vediamo come cazzo metterlo dentro a questa pagina di merda!
        </div>
        <div class="foto-stato">
            asdfasdfasdfasdfadsfasdf
        </div>
    </div>
    <div class="box-like-commenti">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mipiace" id="mipiace" data-idann="<%=model.get('id')%>">
            <i class="material-icons">thumb_up</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored commenti" id="commenti">
            <i class="material-icons">comment</i>
        </button>
    </div>
</div>