<div class="container-post" data-idann="<%=model.get('_id')%>">    
    <div class="box-post">
        <div class="utente">
           <%=model.get('autore')%>
        </div>
        <div class="testo-stato">
            <%=model.get('body')%>
        </div>
        <div class="foto-stato">
            asdfasdfasdfasdfadsfasdf
        </div>
    </div>
    <div class="box-like-commenti">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mipiace" id="<%=model.get('_id')%>" data-idann="<%=model.get('id')%>">
            <i class="material-icons">thumb_up</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored commenti" id="commenti">
            <i class="material-icons">comment</i>
        </button>
    </div>
</div>