<div class="container-my">
    <!--SI INSERISCE IL TEMPLATE BOXCOMMENTI-->
    <div class="box-post overflowAuto">
        <form role="form" id="formPubblicaCommento">
            <div class="creaAnnuncio-wrapper container-titolo">
                <div class="group-material-input material-commento">
                    <textarea name="commento" required class="material-input primary-text-color"></textarea>
                    <span class="bar-material-input"></span>
                      <label class="material-input-label">inserire qui il tuo commento</label>
                </div>
            </div>
        </form>
        <button class="commento-btn-pubblica" id="pubblicaCommento">Pubblica Commento</button>
    </div>
</div>
