<div class="notifiche">
    <div class="material-icons mdl-badge mdl-badge--overlap comment" id="notifiche-commento" data-badge="15">comment</div>
    <div class="material-icons mdl-badge mdl-badge--overlap like" id="notifiche-like" data-badge="1">thumbs_up_down</div>
</div>
<div class="container-my">

<!--    bottone plus per aggiungere nuovi post-->
    <div class="plus-button" id="new-post">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored plus-button-color">
            <i class="material-icons">add</i>
        </button>    
    </div>
</div>




