<div class="notifiche">
    <div class="material-icons mdl-badge mdl-badge--overlap comment" data-badge="15">comment</div>
    <div class="material-icons mdl-badge mdl-badge--overlap like" data-badge="1">thumbs_up_down</div>
</div>
<div class="container-my">
    <div class="box-post">
        <div class="utente">
            Lorenzo Di Cola
        </div>
        <div class="testo-stato">
            Ciao questo è il mio stato e vediamo come cazzo metterlo dentro a questa pagina di merda!
        </div>
        <div class="foto-stato">
            asdfasdfasdfasdfadsfasdf
        </div>
    </div>
    <div class="box-like-commenti">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mipiace">
            <i class="material-icons">thumb_up</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored commenti">
            <i class="material-icons">comment</i>
        </button>
    </div>
    <div class="box-post">
        <div class="utente">
            Lorenzo Di Cola
        </div>
        <div class="testo-stato">
            Ciao questo è il mio stato e vediamo come cazzo metterlo dentro a questa pagina di merda!Ciao questo è il mio stato e vediamo come cazzo metterlo dentro a questa pagina di merda!Ciao questo è il mio stato e vediamo come cazzo metterlo dentro a questa pagina di merda!
        </div>
        <div class="foto-stato">

        </div>
    </div>
    <div class="plus-button">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored plus-button-color">
            <i class="material-icons">add</i>
        </button>    
    </div>
</div>




