<div class="container-login">
    <form role="form" id="loginForm">
        <div class="center-item-wrapper">
            <div class="group-material-input">      
              <input type="text" name="user" required class="material-input text-white">
              <span class="bar-material-input"></span>
              <label class="material-input-label">Username</label>
            </div>
        </div>
        <div class="center-item-wrapper">
            <div class="group-material-input">      
              <input type="password" name="password" required class="material-input text-white">
              <span class="bar-material-input"></span>
              <label class="material-input-label">Password</label>
            </div>
        </div>
    </form>
        <div class="center-item-wrapper">
            <button class="login-button" id="loginButton">Login</button>
            <div class="signup-margin">
                <button class="login-button" id="btn-signup">Registrati</button>
            </div>
        </div>
</div>
