<div class="profilo-cover verticalAlign">
    <div class="verticalAlignItem middle profilo-user">
        <img class="profilo-user-img">
            <i class="fa fa-user imagePlaceHolder"></i>
    </div>
</div>
<div class='resHeightContainer'> 
    <div class="modificaProfilo-wrapper">
        <div class="group-material-input">      
            <input type="text" name="name" required="" value="" class="material-input">
          <span class="bar-material-input"></span>
          <label class="material-input-label">Nome</label>
        </div>
        <div class="group-material-input">      
          <input type="text" name="surname" required="" value="" class="material-input">
          <span class="bar-material-input"></span>
          <label class="material-input-label">Cognome</label>
        </div>
        <div class="group-material-input">      
          <input type="text" name="date" required="" value="" class="material-input">
          <span class="bar-material-input"></span>
          <label class="material-input-label">Data di nascita</label>
        </div>
        <div class="group-material-input">      
          <input type="text" name="luogo" required="" value="" class="material-input">
          <span class="bar-material-input"></span>
          <label class="material-input-label">Luogo di Nascita</label>
        </div>
        <div class="group-material-input">      
          <input type="text" name="email" required="" value="" class="material-input">
          <span class="bar-material-input"></span>
          <label class="material-input-label">Email</label>
        </div>
        <div class="group-material-input">      
          <input type="text" name="phone" required="" value="" class="material-input">
          <span class="bar-material-input"></span>
          <label class="material-input-label">Telefono</label>
        </div>
    </div>
    <div class='modificaProfilo-button salva'>
        Salva
    </div>
</div>