<div class="container-my">
    <div class="box-post overflowAuto">
        <form role="form" id="formPubblicaPost">
            <div class="creaAnnuncio-wrapper container-titolo">
                <div class="group-material-input material-commento">
                    <textarea name="post" required class="material-input primary-text-color"></textarea>
                    <span class="bar-material-input"></span>
                      <label class="material-input-label">inserire qui il tuo post</label>
                </div>
            </div>
        </form>
    </div>
    <button class="commento-btn-pubblica" id="pubblicaAnnuncio">Pubblica Post</button>
</div>
