<!DOCTYPE html>
<div class="profilo-cover verticalAlign" >
    <div class="verticalAlignItem middle profilo-user">
        <img class="profilo-user-img">
        <i class="fa fa-user imagePlaceHolder"></i>
    </div>
</div>
<div class='resHeightContainer'>
    <div class="editIcon nascosto" id="modifica-profilo">
        <i class="fa fa-edit"></i>
    </div>
    <div class="Body">
        <div class="MyContainer">
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="Content">
                <div class="Primary">
                    Utente
                </div>
                <div class="Secondary">
                    <%=model.get('nome')%> Di Cola
                </div>    
            </div>
        </div>
        <div class="MyContainer">
            <div class="icon">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="Content">
                <div class="Primary">
                    Data di Nascita
                </div>
                <div class="Secondary"> 
                    <%=model.get('datanascita')%>
                </div>    
            </div>
        </div>
        <div class="MyContainer">
            <div class="icon">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="Content">
                <div class="Primary">
                    Luogo di Nascita
                </div>
                <div class="Secondary">
                    Pescara
                </div>    
            </div>
        </div>
        <div class="MyContainer">
            <a href="">    
            <div class="icon action">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="Content">
                <div class="Primary">
                    E-mail
                </div>
                <div class="Secondary">
                    loredicola@gmail.com
                </div>    
            </div>
            </a>
        </div>
        <div class="MyContainer ">
            <a href="">
            <div class="icon action">
                <i class="fa fa-phone"></i>
            </div>
            <div class="Content">
                <div class="Primary">
                    Telefono
                </div>
                <div class="Secondary">
                    3281740996
                </div>    
            </div>
            </a>
        </div>
    </div>
</div>
