<div class="container-login text-center">
    <form role="form" id="signUpForm">
        <div class="center-item-wrapper">
            <div class="group-material-input">      
              <input type="text" name="nome" required class="material-input text-white">
              <span class="bar-material-input"></span>
              <label class="material-input-label">Nome</label>
            </div>
        </div>
        <div class="center-item-wrapper">
            <div class="group-material-input">      
              <input type="text" name="cognome" required class="material-input text-white">
              <span class="bar-material-input"></span>
              <label class="material-input-label">Cognome</label>
            </div>
        </div>
        <div class="center-item-wrapper">
            <div class="group-material-input">      
              <input type="date" name="datanascita" required class="material-input text-white">
              <span class="bar-material-input"></span>
              <label class="material-input-label">Data di nascita</label>
            </div>
        </div>
        <div class="center-item-wrapper">
            <div class="group-material-input">      
              <input type="text" name="luogonascita" required class="material-input text-white">
              <span class="bar-material-input"></span>
              <label class="material-input-label">Luogo di nascita</label>
            </div>
        </div>
        <div class="center-item-wrapper">
            <div class="group-material-input">      
              <input type="email" name="email" required class="material-input text-white">
              <span class="bar-material-input"></span>
              <label class="material-input-label">E-mail</label>
            </div>
        </div>
        <div class="center-item-wrapper">
            <div class="group-material-input">      
              <input type="tel" name="telefono" required class="material-input text-white">
              <span class="bar-material-input"></span>
              <label class="material-input-label">Telefono</label>
            </div>
        </div>
        <div class="center-item-wrapper">
            <div class="group-material-input">      
              <input type="text" name="user" required class="material-input text-white">
              <span class="bar-material-input"></span>
              <label class="material-input-label">Username</label>
            </div>
        </div>
        <div class="center-item-wrapper">
            <div class="group-material-input">      
              <input type="password" name="psw" required class="material-input text-white">
              <span class="bar-material-input"></span>
              <label class="material-input-label">Password</label>
            </div>
            
        </div>
        <div class="center-item-wrapper">
            <div class="group-material-input">      
              <input type="password" name="psw1" required class="material-input text-white">
              <span class="bar-material-input"></span>
              <label class="material-input-label">Reimmetere Password</label>
            </div> 
        </div>
    </form>
    <div class="center-item-wrapper">
        
        <button class="login-button" id="btn-registrati">Registrati</button>
    </div>
</div>